In [ ]:
import pandas as pd
import numpy as np

import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import re
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
depressive_tweets_df = pd.read_csv('/content/drive/MyDrive/Detecting_depression/depression/depressive_unigram_tweets.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
depressive_tweets_df.head()

  Unnamed: 0  ... cashtags
0          0  ...       []
1          1  ...       []
2          2  ...       []
3          3  ...       []
4          4  ...       []

[5 rows x 6 columns]

In [ ]:
hopeless_tweets_df = pd.read_csv('/content/drive/MyDrive/Detecting_depression/hopeless/tweets.csv')

In [ ]:
hopeless_tweets_df.head()

                    id      conversation_id  ...  near geo
0  1151526536471728134  1151526536471728134  ...   NaN NaN
1  1151526442922139649  1151524002457882624  ...   NaN NaN
2  1151526396210110464  1151526396210110464  ...   NaN NaN
3  1151526283890683904  1151525753990725632  ...   NaN NaN
4  1151526267738628097  1151526267738628097  ...   NaN NaN

[5 rows x 26 columns]

In [ ]:
hopeless_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [ ]:
hopeless_tweets_df.head()

                    id      time  ... hashtags cashtags
0  1151526536471728134  09:18:15  ...       []       []
1  1151526442922139649  09:17:52  ...       []       []
2  1151526396210110464  09:17:41  ...       []       []
3  1151526283890683904  09:17:15  ...       []       []
4  1151526267738628097  09:17:11  ...       []       []

[5 rows x 5 columns]

In [ ]:
lonely_tweets_df = pd.read_csv('/content/drive/MyDrive/Detecting_depression/lonely/tweets.csv')

In [ ]:
lonely_tweets_df.head()

                    id      conversation_id  ...  near geo
0  1152982582843326466  1152982582843326466  ...   NaN NaN
1  1152982578741284865  1152916420587675648  ...   NaN NaN
2  1152982577181024259  1152976191781048322  ...   NaN NaN
3  1152982576153239552  1152982576153239552  ...   NaN NaN
4  1152982566263296000  1152982566263296000  ...   NaN NaN

[5 rows x 26 columns]

In [ ]:
lonely_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [ ]:
lonely_tweets_df.head()

                    id      time  ...         hashtags cashtags
0  1152982582843326466  09:44:03  ...               []       []
1  1152982578741284865  09:44:02  ...               []       []
2  1152982577181024259  09:44:02  ...               []       []
3  1152982576153239552  09:44:02  ...  ['#nowplaying']       []
4  1152982566263296000  09:43:59  ...               []       []

[5 rows x 5 columns]

In [ ]:
antidepressant_tweets_df = pd.read_csv('/content/drive/MyDrive/Detecting_depression/antidepressant/tweets.csv')

In [ ]:
antidepressant_tweets_df.head()

                    id      conversation_id  ...  near geo
0  1152991919137538048  1152991908391739392  ...   NaN NaN
1  1152991631722913793  1152991631722913793  ...   NaN NaN
2  1152991531789406209  1152986023447732224  ...   NaN NaN
3  1152991116733628416  1152991116733628416  ...   NaN NaN
4  1152990783420751872  1152862679452790785  ...   NaN NaN

[5 rows x 26 columns]

In [ ]:
antidepressant_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [ ]:
antidepressant_tweets_df.head()

                    id  ... cashtags
0  1152991919137538048  ...       []
1  1152991631722913793  ...       []
2  1152991531789406209  ...       []
3  1152991116733628416  ...       []
4  1152990783420751872  ...       []

[5 rows x 5 columns]

In [ ]:
antidepressants_tweets_df = pd.read_csv('/content/drive/MyDrive/Detecting_depression/antidepressants/tweets.csv')

In [ ]:
antidepressants_tweets_df.head()

                    id      conversation_id  ...  near geo
0  1152995178359218176  1152995178359218176  ...   NaN NaN
1  1152994945537576960  1152994945537576960  ...   NaN NaN
2  1152994834359209985  1152994145700634625  ...   NaN NaN
3  1152994452606033920  1152994452606033920  ...   NaN NaN
4  1152994432188370949  1152994432188370949  ...   NaN NaN

[5 rows x 26 columns]

In [ ]:
antidepressants_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [ ]:
antidepressants_tweets_df.head()

                    id      time  ... hashtags cashtags
0  1152995178359218176  10:34:06  ...       []       []
1  1152994945537576960  10:33:11  ...       []       []
2  1152994834359209985  10:32:44  ...       []       []
3  1152994452606033920  10:31:13  ...       []       []
4  1152994432188370949  10:31:08  ...       []       []

[5 rows x 5 columns]

In [ ]:
suicide_tweets_df = pd.read_csv('/content/drive/MyDrive/Detecting_depression/suicide/tweets.csv')

In [ ]:
suicide_tweets_df.head()

                    id      conversation_id  ...  near geo
0  1152996044604682241  1152996044604682241  ...   NaN NaN
1  1152995993148899329  1152995993148899329  ...   NaN NaN
2  1152995985053900800  1152995985053900800  ...   NaN NaN
3  1152995984642887683  1152995984642887683  ...   NaN NaN
4  1152995955559620608  1152995955559620608  ...   NaN NaN

[5 rows x 26 columns]

In [ ]:
suicide_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [ ]:
suicide_tweets_df.head()

                    id      time  ...              hashtags cashtags
0  1152996044604682241  10:37:33  ...                    []       []
1  1152995993148899329  10:37:21  ...                    []       []
2  1152995985053900800  10:37:19  ...                    []       []
3  1152995984642887683  10:37:19  ...                    []       []
4  1152995955559620608  10:37:12  ...  ['#sam', '#suicide']       []

[5 rows x 5 columns]

In [ ]:
df_row_reindex = pd.concat([depressive_tweets_df, hopeless_tweets_df, lonely_tweets_df, antidepressant_tweets_df, antidepressants_tweets_df, suicide_tweets_df], ignore_index=True)

df_row_reindex

       Unnamed: 0  ... cashtags
0               0  ...       []
1               1  ...       []
2               2  ...       []
3               3  ...       []
4               4  ...       []
...           ...  ...      ...
225172        NaN  ...       []
225173        NaN  ...       []
225174        NaN  ...       []
225175        NaN  ...       []
225176        NaN  ...       []

[225177 rows x 6 columns]

In [ ]:
df = df_row_reindex

In [ ]:
depressive_twint_tweets_df = df_row_reindex
depressive_twint_tweets_df.head()

  Unnamed: 0  ... cashtags
0          0  ...       []
1          1  ...       []
2          2  ...       []
3          3  ...       []
4          4  ...       []

[5 rows x 6 columns]

In [ ]:
depressive_twint_tweets_df = df.drop_duplicates()

In [ ]:
depressive_twint_tweets_df

       Unnamed: 0  ... cashtags
0               0  ...       []
1               1  ...       []
2               2  ...       []
3               3  ...       []
4               4  ...       []
...           ...  ...      ...
225172        NaN  ...       []
225173        NaN  ...       []
225174        NaN  ...       []
225175        NaN  ...       []
225176        NaN  ...       []

[224273 rows x 6 columns]

In [ ]:
export_csv = depressive_twint_tweets_df.to_csv(r'depressive_unigram_tweets_final.csv')
!cp depressive_unigram_tweets_final.csv "drive/My Drive/"